body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
    padding:0%
}

h1{
    font-size: 65px;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
    color: gray;
}
.orange-color{
    color:orange;
}
.top-part{
    display: flex;
}
.half
{
    width: 50%;
    padding-left: 10%;
}
.half img{
    width: 90%;   
}

.link-buttom{

text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    padding: 15px 30px;
    font-weight: 900px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 40px;
    box-shadow: 10px 10px 20px orangered;
}
.middle-part{
    display:flex;
}

.half-mid-text{
      width: 80%;
      display: inline-block;
      margin-top: 60px;
}

.half-mid img{
    width: 50%;
    padding-left: 30%;
}
.middle-part{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%; 
    
}
.contact-buttom{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    padding: 15px 30px;
    font-weight: 900px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 60px;
    box-shadow: 10px 10px 20px orangered;
    
}
.recipe-text h3 {
    font-size: 35px;
    text-align: center;
    color: black;
   }
   
   .recipe-text {
    color: gray;
    text-align: center;
   }
   
   .box-section h3 {
    font-size: 30px;
    font-weight: bolder;
   }
   
   .box-section {
    margin: 40px 80px;
    padding:20px 10px;
   }
   
   .box-container {
    padding: 10px;
    display: flex;
   }
   
   .box {
    width:33.3%;
    overflow: hidden;
    margin: 40px 30px;
    padding: 10px 10px;
    border: 10px solid #fff;
    box-shadow: 10px 10px 40px #312f2f;
   }
   .box-img img{
    width: 100%;
   }

#foot{
    color: orange;
}
footer h2{
    text-align: center;
    color: grey;
    padding-top: 40px;
}
.last-back{
    background-size: auto;
    background-color: black;
}
footer p{

    text-align: center;
    color: white;
    padding-bottom: 50px;
}
 