body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
    padding:0%
}

h1{
    font-size: 65px;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
    color: gray;
}
.orange-color{
    color:orange;
}
.top-part{
    display: flex;
}
.half
{
    width: 50%;
    padding-left: 10%;
}
.half img{
    width: 90%;   
}

.link-buttom{

text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    padding: 15px 30px;
    font-weight: 900px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 40px;
    box-shadow: 10px 10px 20px orangered;
}
.middle-part{
    display:flex;
}

.half-mid-text{
      width: 80%;
      display: inline-block;
      margin-top: 60px;
}

.half-mid img{
    width: 50%;
    padding-left: 30%;
}
.middle-part{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%; 
    
}
.contact-buttom{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    padding: 15px 30px;
    font-weight: 900px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 60px;
    box-shadow: 10px 10px 20px orangered;
    
}
