body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 45px;
}
.orange-color{
    color:orange;
}
.top-part{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 10%;
}
.half img{
    width: 70%;
    
    
    
}
.link-buttom{
text-decoration: none;
background-image: linear-gradient(orange, tomato);
color:white;
padding: 5px 20px;
font-weight: 700px;
border-radius: 20px;
margin-top:0;


}
